# Used for left nav sidebar. Must exists in /src/assets/images
VUE_APP_CHAIN_NAME="noria"

# Used to configure the keplr integration through the suggest() method
VUE_APP_KEPLR_CONFIG_URL="https://noria-assets.sgp1.digitaloceanspaces.com/keplr_integration.json"

# Used as the main logo in the top left of the app and loading screen
VUE_APP_LOGO="https://noria-assets.sgp1.cdn.digitaloceanspaces.com/noria.svg"

# Used as the favicon
VUE_APP_FAVICON="https://noria-assets.sgp1.cdn.digitaloceanspaces.com/explorer-noria-favicon.ico"

# Used as the title of the app
VUE_APP_TITLE="Noria Explorer"